.glassmorphism-box {
	width: 500px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 10px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.content {
	color: #fff;
}

h1 {
	font-size: 24px;
	margin: 0;
}

p {
	font-size: 16px;
	margin: 10px 0;
	text-align: left;
}

.centered-form {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center horizontally */
	justify-content: center; /* Center vertically */
 /* Optional to center in the viewport */
}

.profile {
	margin: 10px;
	text-align: center;
}
