/* styles.css */

.image-container {
	text-align: center;
	background-color: red;
	max-width: 100%;
	max-height: 100%;
}

.image-container img {
	max-width: 100%;
	max-height: 100%;
	background-color: green;
}
